config NOVA_CORE
	tristate "Nova core GPU driver stub"
	depends on PCI
	depends on RUST
	depends on RUST_FW_LOADER_ABSTRACTIONS
	select AUXILIARY_BUS
	default n
	help
	  Choose this if you want to build the Nova stub driver for Nvidia
	  GSP-based GPUs.

	  If M is selected, the module will be called nova.

config NOVA_CORE_VGPU_SUPPORT
       bool "Enable support for VGPU"
       depends on NOVA_CORE
       default n
       help
          Choose this if you want to use nova-core as backend for VGPU
