config DRM_NOVA_C
       tristate "Nova POC"
       depends on DRM && PCI && MMU
       depends on NOVA_CORE
       select AUXILIARY_BUS
       select DRM_TTM
       select DRM_EXEC
       select DRM_GPUVM
       select DRM_SCHED
       help
         This is HACKS